---
import SectionFeatures from "./SectionFeatures.astro";
import SectionDesignList from "./SectionDesignList.astro";
import SectionOurMission from "./SectionOurMission.astro";

import SectionWatchesSlide from "./SectionWatchesSlide.astro";
import SectionAboutUs from "./SectionAboutUs.astro";
---

<main class="main">
  <!-- <div class="container container_padding"> 
    <SectionFeatures />
  </div> -->
  <SectionDesignList />
  <SectionOurMission />
  <SectionWatchesSlide />
  <SectionAboutUs />   
</main>

