---
import BlockIndividualStyle from "./SectionFeatures/BlockIndividualStyle.astro";
import BlockHighQuality from "./SectionFeatures/BlockHighQuality.astro";
import BlockFeatures from "./SectionFeatures/BlockFeature.astro";
---

<section class="features">
  <h2 class="features-title">features</h2>
  <div class="features-block">
    <section class="watch">
      <img
        class="watch-img"
        src="/public/img/watches/Volumenzeit_S-1.png"
        alt=""
      />
      <img
        class="decor-circle"
        src="/src/components/Home/SectionFeatures/img/decor-circle.svg"
        alt=""
      />
    </section>

    <BlockIndividualStyle />
    <BlockHighQuality />
    <BlockFeatures />
  </div>
</section>

<style is:inline>
  .features {
    font-size: 10px;
    line-height: 240%;
    color: #939393;
  }

  .features-title {
    font-family: var(--font-SpaceAge);
    /* до 992 - 42px 375-28px*/
    font-size: clamp(1.75rem, 1.2066rem + 2.288vw, 2.625rem);
    line-height: 89%;
    color: var(--color-black);
    margin-top: 75px;
    margin-bottom: 82px;
    text-align: center;
  }

  .features-block {
    display: grid;
    grid-template-columns: 268px 1fr 268px;
    grid-template-rows: 304px 304px;
    justify-items: center;
    grid-template-areas:
      "individual watch feature"
      "hq         watch feature";
  }

  .watch {
    grid-area: watch;
    position: relative;
    margin-top: 6%;
  }

  .watch-img {
    z-index: 1;
  }

  .decor-circle {
    z-index: 0;
    position: absolute;
    width: 629px;
    height: 629px;
    left: 50%;
    transform: translate(-50%, -21%);
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 67%;
    color: var(--color-black);
    margin-bottom: 20px;
  }
</style>
